@import url( './fonts.min.css' );
@import url( './header.min.css' );
@import url( './footer.min.css' );
@import url( './content.min.css' );

:root {

    --primary: #7050aa;
    --primary-dark: #382855;
    --primary-light: #b7a7d4;

    --good: #00b67a;
    --warn: #ff903b;
    --info: #ffd400;
    --bad: #fa6464;

    --gray-0: #ffffff;
    --gray-1: #ecedf1;
    --gray-2: #d3d4d9;
    --gray-3: #747980;
    --gray-4: #3f3f3f;
    --gray-5: #2e313b;
    --gray-6: #191919;
    --gray-7: #09090b;

    --shade-1: rgba( 46 49 59 / 0.10 );
    --shade-2: rgba( 46 49 59 / 0.25 );
    --shade-3: rgba( 46 49 59 / 0.33 );
    --shade-4: rgba( 46 49 59 / 0.50 );
    --shade-5: rgba( 46 49 59 / 0.66 );
    --shade-6: rgba( 46 49 59 / 0.75 );
    --shade-7: rgba( 46 49 59 / 0.90 );

    --light-1: rgba( 255 255 255 / 0.10 );
    --light-2: rgba( 255 255 255 / 0.25 );
    --light-3: rgba( 255 255 255 / 0.33 );
    --light-4: rgba( 255 255 255 / 0.50 );
    --light-5: rgba( 255 255 255 / 0.66 );
    --light-6: rgba( 255 255 255 / 0.75 );
    --light-7: rgba( 255 255 255 / 0.90 );

    --border-1: 1px solid var( --gray-2 );

}

*,
*:focus,
*:active {
    outline: 0 none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}

::placeholder {
    color: var( --gray-3 );
    opacity: 1;
}

:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var( --gray-3 );
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: var( --gray-4 );
    background: var( --gray-1 );
}

.map * {
    font-family: 'Roboto';
}

.map .leaflet-tile-pane {
    filter: grayscale( 1 ) invert( 1 );
}

.map .leaflet-control-scale-line,
.map .leaflet-control-attribution {
    color: var( --gray-0 );
    text-shadow: none;
    background: var( --shade-5 );
    border-color: var( --gray-3 );
}