#footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 60px;
    padding: 60px var( --padding-normal ) 120px var( --padding-normal );
    background: var( --gray-0 );
}

#footer .column {
    flex: 1;
}

#footer .column h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: var( --primary );
}

#footer .column nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0 40px 0;
}

#footer .column nav a:hover {
    text-decoration: underline;
    color: var( --primary );
}

#footer .column .logo {
    display: inline-block;
    margin-bottom: 20px;
}

#footer .column .about {
    margin: 20px 0 40px 0;
    line-height: 1.6;
}

#footer .column .credits {
    margin: 0;
    font-size: 13px;
}

#footer .language-selector {
    position: relative;
    margin: 20px 0;
    width: 80%;
    height: 40px;
}

#footer .language-selector select {
    appearance: none;
    width: 100%;
    height: 40px;
    padding: 0 16px 0 40px;
    font-family: 'Roboto';
    font-size: 18px;
    background: var( --gray-1 );
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

#footer .language-selector .icon {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    font-variation-settings: 'wght' 300, 'GRAD' 0;
}

#warning {
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    color: var( --gray-0 );
    background: var( --bad );
}

#scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var( --gray-0 );
    background: var( --primary );
    border-radius: 25px;
    cursor: pointer;
    transform: translateX( 500px );
    transition: transform 150ms ease-out;
}

body.scroll-to-top #scroll-to-top {
    transform: translateX( 0 );
}

#scroll-to-top .icon {
    font-size: 26px;
}