#header {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: 20px;
    height: 60px;
    padding: 0 20px;
    background: var( --gray-0 );
}

#header .logo {
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

#header .logo img {
    width: 40px;
    height: 40px;
}

#header nav {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 60px;
}

#header nav a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 22px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    transition: color 250ms;
}

#header nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2px;
    right: 2px;
    height: 4px;
    background: transparent;
    border-radius: 3px 3px 0 0;
    transform: scale( 0 );
    transition: transform 250ms;
}

#header nav a:hover::after {
    background: var( --gray-2 );
    transform: scale( 1 );
}

#header nav a.active::after {
    background: var( --primary );
    transform: scale( 1 );
}

#header .search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#header .search input {
    flex: 0 0 auto;
    width: 260px;
    height: 36px;
    padding: 0 14px;
    font-size: 16px;
    border: var( --border-1 );
    border-right: 0;
    border-radius: 18px 0 0 18px;
}

#header .search button {
    flex: 0 0 auto;
    width: 50px;
    height: 36px;
    padding: 0 14px 0 10px;
    color: var( --gray-0 );
    background: var( --primary );
    border: 0;
    border-radius: 0 18px 18px 0;
    cursor: pointer;
}

#header .search button .icon {
    font-size: 22px;
}