.about .site-image {
    background-image: url( './../resources/sunset.jpg' );
}

.about p {
    width: 75%;
    line-height: 1.6;
    font-size: 20px;
}

.about p.first {
    width: 55%;
    font-size: 26px;
}

.about p.warn {
    font-weight: 800;
    color: var( --indicator-red );
}

.about p a {
    color: var( --primary );
}