h1.primary-headline {
    font-size: 28px;
}

.primary-headline mapicon {
    width: 36px;
    height: 36px;
}

.primary-headline .name {
    flex: 1;
}

.primary-headline .cat {
    width: 86px;
    padding: 6px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: var( --gray-6 );
    background: var( --gray-0 );
    border-radius: 5px;
}

.primary-headline.cat-VFR {
    background: var( --indicator-green );
}

.primary-headline.cat-MVFR {
    background: var( --indicator-blue );
}

.primary-headline.cat-IFR {
    background: var( --indicator-red );
}

.primary-headline.cat-LIFR {
    background: var( --indicator-pink );
}

.primary-headline.cat-UNK {
    background: var( --gray-6 );
}

.airport-warn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    color: var( --gray-0 );
    background: var( --gray-6 );
    border-radius: 12px;
    overflow: hidden;
}

.airport-warn.hazard-CLD,
.airport-warn.hazard-VA {
    color: var( --gray-5 );
    background: var( --gray-2 );
}

.airport-warn.hazard-CONV,
.airport-warn.hazard-FC {
    background: var( --indicator-pink );
}

.airport-warn.hazard-DS,
.airport-warn.hazard-SS {
    color: var( --gray-5 );
    background: var( --indicator-yellow );
}

.airport-warn.hazard-GR,
.airport-warn.hazard-TDO,
.airport-warn.hazard-TS,
.airport-warn.hazard-TSGR {
    background: var( --indicator-red );
}

.airport-warn.hazard-ICE,
.airport-warn.hazard-WTSPT {
    background: var( --indicator-blue );
}

.airport-warn.hazard-MTW {
    background: var( --indicator-green );
}

.airport-warn.hazard-TURB {
    background: var( --indicator-orange );
}

.airport-warn .info {
    padding: 16px 20px;
}

.airport-warn .info .hazard {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
}

.airport-warn .info .valid {
    font-weight: 300;
}

.airport-warn .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-transform: uppercase;
    font-weight: 800;
}

.airport-warn .link:hover {
    text-decoration: none;
}

.airport-info {
    display: grid;
    grid-template-columns: 35% auto;
    gap: 60px;
}

.airport-info .map,
.airport-nearby .map {
    width: 100%;
    height: 520px;
}

.airport-weather {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'station station'
        'info skycond'
        'list skycond'
        'raw raw'
        'runways runways';
    gap: 40px;
    margin-top: 80px;
}

.airport-weather .weather-station {
    grid-area: station;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

.airport-weather .weather-station .label {
    text-transform: uppercase;
    font-weight: 300;
}

.airport-weather .weather-station select,
.airport-weather .weather-station .quality {
    padding: 0 20px;
    height: 44px;
    font-size: 18px;
    border-radius: 22px;
}

.airport-weather .weather-station .space {
    flex: 1;
}

.airport-weather .weather-station .quality {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var( --gray-0 );
    background: var( --gray-3 );
}

.airport-weather .weather-station .quality.q-0 {
    background: var( --indicator-green );
}

.airport-weather .weather-station .quality.q-1 {
    color: var( --gray-5 );
    background: var( --indicator-yellow );
}

.airport-weather .weather-station .quality.q-2 {
    background: var( --indicator-orange );
}

.airport-weather .weather-station .quality.q-3 {
    background: var( --indicator-red );
}

.airport-weather .weather-station .quality .icon {
    font-size: 20px;
}

.airport-weather .weather-station.on-site .dist {
    display: none;
}

.airport-weather .weather-info,
.airport-weather .weather-list,
.airport-weather .weather-skycond,
.airport-weather .weather-raw {
    padding: 20px 30px;
    background: var( --gray-0 );
    border-radius: 22px;
}

.airport-weather .weather-info {
    grid-area: info;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

.airport-weather .weather-info .icon {
    flex: 0 0 80px;
    text-align: center;
    font-size: 48px;
}

.airport-weather .weather-info .list .row > :first-child x {
    font-size: 26px;
    letter-spacing: -0.75px;
}

.airport-weather .weather-list {
    grid-area: list;
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
    font-size: 20px;
}

.airport-weather .weather-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.airport-weather .weather-list ul li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 40px;
}

.airport-weather .weather-list ul li .label {
    text-transform: uppercase;
    font-weight: 300;
}

.airport-weather .weather-list ul li div {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    gap: 6px 12px;
}

.airport-weather .weather-list ul li sup {
    font-size: 12px;
}

.airport-weather .weather-skycond {
    grid-area: skycond;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.airport-weather .weather-skycond .vis-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    gap: 12px;
}

.airport-weather .weather-skycond .skychart {
    flex: 1;
}

.airport-weather .weather-skycond .vis-info .label {
    text-transform: uppercase;
    font-weight: 300;
}

.airport-weather .weather-raw {
    grid-area: raw;
    font-size: 20px;
    font-weight: 600;
}

.airport-weather .weather-runways {
    grid-area: runways;
}