@import url( './fonts.css' );
@import url( './header.css' );
@import url( './footer.css' );

:root {

    --padding-narrow: 50px;
    --padding-normal: 12%;
    --padding-wide: 25%;

    --primary: #7050aa;
    --primary-dark: #382855;
    --primary-light: #b7a7d4;

    --indicator-good: #00b67a;
    --indicator-warn: #ff903b;
    --indicator-info: #ffd400;
    --indicator-bad: #fa6464;

    --gray-0: #ffffff;
    --gray-1: #ecedf1;
    --gray-2: #b8bac0;
    --gray-3: #878991;
    --gray-4: #595b64;
    --gray-5: #2e313b;
    --gray-6: #1b1d23;
    --gray-7: #000000;

    --shade-1: rgba( 46 49 59 / 0.10 );
    --shade-2: rgba( 46 49 59 / 0.25 );
    --shade-3: rgba( 46 49 59 / 0.33 );
    --shade-4: rgba( 46 49 59 / 0.50 );
    --shade-5: rgba( 46 49 59 / 0.66 );
    --shade-6: rgba( 46 49 59 / 0.75 );
    --shade-7: rgba( 46 49 59 / 0.90 );

    --light-1: rgba( 255 255 255 / 0.10 );
    --light-2: rgba( 255 255 255 / 0.25 );
    --light-3: rgba( 255 255 255 / 0.33 );
    --light-4: rgba( 255 255 255 / 0.50 );
    --light-5: rgba( 255 255 255 / 0.66 );
    --light-6: rgba( 255 255 255 / 0.75 );
    --light-7: rgba( 255 255 255 / 0.90 );

}

*,
*:focus,
*:active {
    outline: 0 none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}

a:hover {
    text-decoration: underline;
}

::placeholder {
    color: var( --gray-3 );
    opacity: 1;
}

:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var( --gray-3 );
}

body {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: var( --gray-5 );
    background: var( --gray-1 );
}

button {
    color: var( --gray-0 );
    background: var( --primary );
    border: 0;
    cursor: pointer;
}

mapicon, navicon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

navicon {
    width: 24px;
    height: 24px;
}

.airport-large mapicon {
    background-image: url( './../resources/civil-large.svg' );
}

.airport-medium mapicon {
    background-image: url( './../resources/civil-medium.svg' );
}

.airport-small mapicon {
    background-image: url( './../resources/civil-small.svg' );
}

.airport-heliport mapicon {
    background-image: url( './../resources/heliport.svg' );
}

.airport-altiport mapicon {
    background-image: url( './../resources/altiport.svg' );
}

.airport-seaplane mapicon {
    background-image: url( './../resources/seaplane-base.svg' );
}

.airport-balloonport mapicon {
    background-image: url( './../resources/balloonport.svg' );
}

.restriction-private mapicon {
    background-image: url( './../resources/private-airfield.svg' );
}

.restriction-military mapicon {
    background-image: url( './../resources/air-base.svg' );
}

.airport-closed mapicon {
    background-image: url( './../resources/closed-airfield.svg' );
}

.navaid-NDB navicon {
    background-image: url( './../resources/navaid-ndb.svg' );
}

.navaid-VOR navicon {
    background-image: url( './../resources/navaid-vor.svg' );
}

.navaid-TACAN navicon {
    background-image: url( './../resources/navaid-tacan.svg' );
}

.navaid-VORTAC navicon {
    background-image: url( './../resources/navaid-vortac.svg' );
}

.searchform {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px var( --padding-wide );
}

.searchform .searchtext {
    flex: 1;
    height: 60px;
    padding: 0 30px;
    font-size: 20px;
    background: var( --gray-0 );
    border: 0;
    border-radius: 30px;
}

.searchform button {
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.searchform button .icon {
    font-size: 30px;
}