/* basic color scheme */

:root {

    --gray-0: #dcdddf;
    --gray-1: #bcbdc0;
    --gray-2: #939499;
    --gray-3: #797b82;
    --gray-4: #50515a;
    --gray-7: #0c0e10;

    --primary: #503d71;
    --primary-dark: #837898;
    --primary-light: #43365b;

    --indicator-yellow: #a38700;
    --indicator-orange: #b7672a;
    --indicator-red: #b54848;
    --indicator-pink: #7a48b7;
    --indicator-blue: #30619e;
    --indicator-green: #008257;

    --shade-1: rgba( 255 255 255 / 0.10 );
    --shade-2: rgba( 255 255 255 / 0.25 );
    --shade-3: rgba( 255 255 255 / 0.33 );
    --shade-4: rgba( 255 255 255 / 0.50 );
    --shade-5: rgba( 255 255 255 / 0.66 );
    --shade-6: rgba( 255 255 255 / 0.75 );
    --shade-7: rgba( 255 255 255 / 0.90 );

    --light-1: rgba( 46 49 59 / 0.10 );
    --light-2: rgba( 46 49 59 / 0.25 );
    --light-3: rgba( 46 49 59 / 0.33 );
    --light-4: rgba( 46 49 59 / 0.50 );
    --light-5: rgba( 46 49 59 / 0.66 );
    --light-6: rgba( 46 49 59 / 0.75 );
    --light-7: rgba( 46 49 59 / 0.90 );

    --box-shadow: 0 0 16px rgba( 0 0 0 / 0.25 );

}

/* basic changes */

body::after {
    content: unset;
}

mapicon, navicon, wpicon, windbug, windflag,
.traffic.t-0 tfcicon, .traffic.t-1 tfcicon,
.traffic.t-9 tfcicon, .traffic.t-10 tfcicon,
.traffic.t-11 tfcicon, .traffic.t-12 tfcicon,
.traffic.t-13 tfcicon, .traffic.t-14 tfcicon,
.airport-weather .weather-wind .wind-info .windsock,
.airport-weather .weather-wind .runways .runway .hdg svg {
    filter: grayscale( 1 ) contrast( 10 ) invert( 0.6 );
}

/* color changes */

body,
select,
.searchform .searchtext,
#footer .language-selector select,
.map-container .map .leaflet-tooltip,
.site-tabs a:hover,
.stats .stats-grid,
.vicinity .vicinityform input[type="number"],
.embedform input[type="text"],
.embedform select,
.embedcode {
    color: var( --gray-0 );
}

.welcome p {
    color: var( --gray-1 );
}

.airportlist .list .row .info .location,
.airportlist .list .row .info .region,
.navaidlist .navaid .info .line,
.waypointlist .waypoint .info .line,
.runwaylist .runway .info .site,
.runwaylist .runway .info .condition,
.runwaylist .runway .info .dthr {
    color: var( --gray-2 );
}

.map-container .map .leaflet-control-scale-line,
.map-container .map .leaflet-control-attribution {
    color: var( --gray-3 );
}

#footer .column h3,
.text-content p a,
.radiolist .radio .type,
.navaidlist .navaid .info .headline,
.waypointlist .waypoint .info .headline,
.traffic .traffic-credits h2 a {
    color: var( --primary-dark );
}

/* background color changes */

body {
    fill: var( --gray-7 );
    background: var( --gray-7 );
}

#header,
#footer,
.searchform .searchtext,
.embedform input[type="text"],
.embedform select {
    fill: var( --gray-6 );
    background: var( --gray-6 );
}

select,
#header .searchform .searchtext,
#footer .language-selector select,
.site-tabs a,
.weather .weather-extrema .extrema,
.sigmets .sigmet,
.airport-weather .weather-info,
.airport-weather .weather-list,
.airport-weather .weather-skycond, 
.airport-weather .weather-raw,
.airport-weather .weather-wind,
.stats .stats-grid .stats-box,
.welcome-stats,
.region .icao-map,
.traffic .traffic-credits,
.vicinity .vicinityform input[type="number"],
.embedform,
.embedcode {
    fill: var( --gray-5 );
    background: var( --gray-5 );
}

.region .icao-map svg path {
    fill: var( --gray-2 );
    background: var( --gray-2 );
}

.region .icao-map svg a:hover path {
    fill: var( --gray-1 );
    background: var( --gray-1 );
}

.stats .stats-section:nth-child( 2n + 2 ) {
    fill: var( --primary-light );
    background: var( --primary-light );
}

/* other color changes */

.map-container .map-overlay .map-infobox .infobox-content hr {
    border-top-color: var( --shade-3 );
}

.sigmets .sigmet .sigmet-raw {
    border-bottom-color: var( --gray-4 );
}

.map-container .map .leaflet-tooltip {
    text-shadow: 0 0 2px var( --gray-6 );
}