body {
    color: var( --gray-0 );
}

body.cat-LIFR {
    background: var( --indicator-pink );
}

body.cat-IFR {
    background: var( --indicator-red );
}

body.cat-MVFR {
    background: var( --indicator-blue );
}

body.cat-VFR {
    background: var( --indicator-green );
}

body.cat-UNK {
    background: var( --gray-6 );
}

.embed {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    height: 100vh;
    padding: 30px;
}

.embed .embed-header h1 {
    margin: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
}

.embed .embed-header h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}

.embed .embed-weather {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.embed .embed-weather .cat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 36px;
    font-size: 20px;
    font-weight: 800;
    color: var( --gray-5 );
    background: var( --gray-0 );
    border-radius: 3px;
}

.embed .embed-weather .vis {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

.embed .embed-weather .icon {
    text-align: center;
    font-size: 42px;
    font-variation-settings: 'FILL' 1, 'GRAD' 200;
}

.embed .embed-weather .info {
    display: flex;
    flex-flow: column nowrap;
}

.embed hr {
    margin: 0;
    border: 0;
    border-top: 1px solid var( --light-3 );
}

.embed .embed-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.embed .embed-list li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
}

.embed .embed-list li .icon {
    font-size: 20px;
}

.embed .embed-space {
    flex: 1;
}

.embed .embed-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var( --gray-0 );
    border-radius: 3px;
}

.embed .embed-link .icon {
    font-size: 22px;
}

.embed .embed-link:hover {
    text-decoration: none;
    color: var( --gray-5 );
    background: var( --gray-0 );
}

.embed .embed-credits {
    margin: 0;
    font-size: 12px;
    opacity: 0.7;
}