@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-Thin.ttf' ) format( 'truetype' );
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-ThinItalic.ttf' ) format( 'truetype' );
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-Light.ttf' ) format( 'truetype' );
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-LightItalic.ttf' ) format( 'truetype' );
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-Regular.ttf' ) format( 'truetype' );
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-Italic.ttf' ) format( 'truetype' );
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-Medium.ttf' ) format( 'truetype' );
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-MediumItalic.ttf' ) format( 'truetype' );
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-Bold.ttf' ) format( 'truetype' );
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-BoldItalic.ttf' ) format( 'truetype' );
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-Black.ttf' ) format( 'truetype' );
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url( './../fonts/Roboto-BlackItalic.ttf' ) format( 'truetype' );
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url( './../fonts/SourceCodePro-Regular.ttf' ) format( 'truetype' );
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url( './../fonts/SourceCodePro-Black.ttf' ) format( 'truetype' );
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url( './../fonts/icons.woff2' ) format( 'woff2' );
}

*:not(.icon) {
    font-family: 'Roboto', sans-serif;
}

.icon {
    direction: ltr;
    text-transform: none;
    line-height: 1;
    font-family: 'Material Symbols Outlined';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    white-space: nowrap;
    word-wrap: normal;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}