#footer {
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    align-items: start;
    gap: 40px 60px;
    padding: 60px var( --padding-normal ) 120px var( --padding-normal );
    background: var( --gray-0 );
}

#footer .column h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: var( --primary );
}

#footer .column nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0 40px 0;
}

#footer .column .site-logo {
    display: inline-block;
    margin-bottom: 20px;
}

#footer .column .about {
    margin: 20px 0 40px 0;
    line-height: 1.6;
}

#footer .column .credits {
    margin: 0;
    font-size: 13px;
}

#footer .language-selector {
    position: relative;
    margin: 20px 0;
    width: 80%;
    height: 40px;
}

#footer .language-selector select {
    width: 100%;
    padding: 0 16px 0 40px;
    font-size: 18px;
    background: var( --gray-1 );
}

#footer .language-selector .icon {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    font-variation-settings: 'wght' 300, 'GRAD' 0;
}

#footer .share {
    grid-column: span 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#footer .share .icon {
    font-size: 22px;
    font-weight: 800;
    color: var( --gray-3 );
}

#footer .share .label {
    margin-right: 12px;
    text-transform: uppercase;
    font-weight: 300;
    color: var( --gray-3 );
}

#footer .share a {
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
}

#footer .share a:not(:hover) socicon {
    filter: grayscale( 1 );
}

#warning {
    padding: 18px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    color: var( --gray-0 );
    background: var( --indicator-red );
}

#scroll-to-top {
    position: fixed;
    bottom: 60px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 80px;
    color: var( --gray-0 );
    background: var( --primary );
    border-radius: 25px;
    cursor: pointer;
    transform: scale( 0 );
    transition: all 100ms ease-out;
    z-index: 9997;
}

body.scroll-to-top #scroll-to-top {
    transform: scale( 1 );
}

body.scroll-to-top #scroll-to-top:hover {
    background: var( --primary-dark );
    transform: scale( 1.1 );
}

#scroll-to-top .icon {
    font-size: 30px;
}

/* mobile support */

@media all and ( max-width: 1200px ) {

    #footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #footer .column:first-of-type,
    #footer .share {
        grid-column: span 3;
    }

}

@media all and ( max-width: 900px ) {

    #footer {
        grid-template-columns: 1fr 1fr;
    }

    #footer .column:first-of-type {
        grid-column: span 1;
    }

    #footer .share {
        grid-column: span 2;
    }

}

@media all and ( max-width: 600px ) {

    #footer {
        grid-template-columns: 1fr;
        gap: 0;
        text-align: center;
    }

    #footer .column nav {
        align-items: center;
    }

    #footer .column .credits {
        margin-bottom: 40px;
    }

    #footer .language-selector {
        margin: 20px auto 60px auto;
        width: 60%;
    }

    #footer .share {
        grid-column: span 1;
    }

    #footer .share .icon,
    #footer .share .label {
        display: none;
    }

    #warning {
        padding: 24px;
    }

}