.map .leaflet-attribution-flag {
    display: none !important;
}

.map .leaflet-control-scale-line {
    text-shadow: none;
    background: var( --light-2 );
    border-color: var( --gray-3 );
}

.map.full-screen {
    width: 100%;
    height: calc( 100vh - 80px );
}

.map .map-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.map .map-overlay * {
    pointer-events: auto;
}

.map .map-overlay button {
    background: var( --gray-4 );
    opacity: 0.7;
    transition: all 100ms ease-out;
}

.map .map-overlay button:hover {
    opacity: 1;
}

.map .map-overlay button.active {
    background: var( --gray-6 );
    opacity: 1;
}

.map .map-overlay button:disabled {
    pointer-events: none;
    opacity: 0.25;
    cursor: not-allowed;
}

.map .map-overlay button .icon {
    font-size: 26px;
}

.map .map-overlay .map-control {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
}

.map .map-overlay .map-control .map-control-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 1px;
    width: 40px;
    border-radius: 6px;
    overflow: hidden;
}

.map .map-overlay .map-control .map-control-group button {
    width: 40px;
    height: 40px;
}

.map .map-overlay .map-scroll-below {
    position: absolute;
    left: calc( 50% - 20px );
    bottom: 20px;
    width: 40px;
    height: 70px;
    border-radius: 20px;
    transform: scale( 1 );
}

.map .map-overlay .map-scroll-below:hover {
    transform: scale( 1.1 );
}