.map.full-screen {
    width: 100%;
    height: calc( 100vh - 80px );
}

.map .map-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.map .map-overlay * {
    pointer-events: auto;
}

.map .map-overlay button {
    background: var( --gray-4 );
    opacity: 0.7;
    transition: all 100ms ease-out;
}

.map .map-overlay button:hover {
    opacity: 1;
}

.map .map-overlay button.active {
    background: var( --gray-6 );
    opacity: 1;
}

.map .map-overlay button:disabled {
    pointer-events: none;
    opacity: 0.25;
    cursor: not-allowed;
}

.map .map-overlay button .icon {
    font-size: 26px;
}

.map .map-overlay .map-control {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
}

.map .map-overlay .map-control .map-control-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 1px;
    width: 40px;
    border-radius: 6px;
    overflow: hidden;
}

.map .map-overlay .map-control .map-control-group button {
    width: 40px;
    height: 40px;
}

.map .map-overlay .map-scroll-below {
    position: absolute;
    left: calc( 50% - 20px );
    bottom: 20px;
    width: 40px;
    height: 70px;
    border-radius: 20px;
    transform: scale( 1 );
}

.map .map-overlay .map-scroll-below:hover {
    transform: scale( 1.1 );
}

.map .map-overlay .map-infobox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 380px;
    padding: 20px 20px 40px 20px;
    color: var( --gray-0 );
    background: var( --gray-3 );
    box-shadow: 0 0 40px var( --shade-3 );
    overflow-x: hidden;
    overflow-y: auto;
}

.map .map-overlay .map-infobox .infobox-header .infobox-image {
    position: relative;
    margin: -20px -20px 16px -20px;
    width: auto;
    height: 200px;
    background-color: var( --gray-6 );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.map .map-overlay .map-infobox .infobox-header .infobox-image .infobox-image-credits {
    position: absolute;
    right: 6px;
    bottom: 4px;
    text-shadow: 0 0 2px var( --gray-6 );
    line-height: 1;
    font-size: 9px;
    opacity: 0.8;
}

.map .map-overlay .map-infobox .infobox-header .infobox-title {
    margin: 0;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 600;
}

.map .map-overlay .map-infobox .infobox-header .infobox-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.map .map-overlay .map-infobox .infobox-header .infobox-close {
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 20px;
    width: 32px;
    height: 32px;
    background: var( --gray-0 );
    border-radius: 3px;
    z-index: 99;
    cursor: pointer;
}

.map .map-overlay .map-infobox.image .infobox-header .infobox-close {
    margin-top: 20px;
}

.map .map-overlay .map-infobox .infobox-header .infobox-close .icon {
    font-size: 26px;
    color: var( --gray-5 );
}

.map .map-overlay .map-infobox .infobox-content {
    margin: 30px 0;
}

.map .map-overlay .map-infobox .infobox-content hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid var( --light-3 );
}

.map .map-overlay .map-infobox .infobox-content .infobox-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.map .map-overlay .map-infobox .infobox-content .infobox-list li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
}

.map .map-overlay .map-infobox .infobox-content h5 .infobox-list li .icon {
    font-size: 20px;
}

.map .map-overlay .map-infobox .infobox-content .rawtxt {
    font-size: 18px;
}

.map .map-overlay .map-infobox .infobox-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var( --gray-0 );
    border-radius: 3px;
}

.map .map-overlay .map-infobox .infobox-link .icon {
    font-size: 22px;
}

.map .map-overlay .map-infobox .infobox-link:hover {
    text-decoration: none;
    color: var( --gray-5 );
    background: var( --gray-0 );
}

.map .map-overlay .map-infobox.airport,
.map .map-overlay .map-infobox.navaid {
    background: var( --primary );
}

.map .map-overlay .map-infobox.sigmet-CLD,
.map .map-overlay .map-infobox.sigmet-VA {
    color: var( --gray-5 );
    background: var( --gray-2 );
}

.map .map-overlay .map-infobox.sigmet-CONV,
.map .map-overlay .map-infobox.sigmet-FC {
    background: var( --indicator-pink );
}

.map .map-overlay .map-infobox.sigmet-DS,
.map .map-overlay .map-infobox.sigmet-SS {
    color: var( --gray-5 );
    background: var( --indicator-yellow );
}

.map .map-overlay .map-infobox.sigmet-GR,
.map .map-overlay .map-infobox.sigmet-TDO,
.map .map-overlay .map-infobox.sigmet-TS,
.map .map-overlay .map-infobox.sigmet-TSGR {
    background: var( --indicator-red );
}

.map .map-overlay .map-infobox.sigmet-ICE,
.map .map-overlay .map-infobox.sigmet-WTSPT {
    background: var( --indicator-blue );
}

.map .map-overlay .map-infobox.sigmet-MTW {
    background: var( --indicator-green );
}

.map .map-overlay .map-infobox.sigmet-TURB {
    background: var( --indicator-orange );
}

.map .leaflet-attribution-flag {
    display: none !important;
}

.map .leaflet-control-scale-line {
    text-shadow: none;
    background: var( --light-2 );
    border-color: var( --gray-3 );
}

.map .leaflet-tooltip {
    padding: 0;
    text-align: center;
    text-shadow: 0 0 2px var( --gray-0 );
    line-height: 1.1;
    color: var( --gray-6 );
    background: transparent;
    border: 0;
    box-shadow: none;
}

.map .leaflet-tooltip.tooltip-airport {
    padding-bottom: 54px;
}

.map .leaflet-tooltip.tooltip-navaid {
    padding-bottom: 62px;
}

.map .leaflet-tooltip.tooltip-airport .ICAO,
.map .leaflet-tooltip.tooltip-navaid .IDENT {
    font-size: 18px;
    font-weight: 800;
}

.map .leaflet-tooltip.tooltip-airport .name,
.map .leaflet-tooltip.tooltip-navaid .freq {
    font-size: 13px;
    font-weight: 600;
}

.map[zoom="0"] .leaflet-tooltip.tooltip-sigmet,
.map[zoom="1"] .leaflet-tooltip.tooltip-sigmet,
.map[zoom="2"] .leaflet-tooltip.tooltip-sigmet,
.map[zoom="3"] .leaflet-tooltip.tooltip-sigmet,
.map[zoom="4"] .leaflet-tooltip.tooltip-sigmet,
.map[zoom="5"] .leaflet-tooltip.tooltip-sigmet {
    visibility: hidden;
}

.map .leaflet-tooltip.tooltip-sigmet .hazard {
    font-size: 12px;
    font-weight: 600;
}