.region .map {
    width: 100%;
    height: 420px;
}

.region .icao-map {
    margin: 80px 0;
    padding: 40px var( --padding-normal );
    color: var( --gray-0 );
    background: var( --primary );
}

.region .icao-map h2 {
    margin-top: 0;
}

.region .icao-map svg {
    width: 100%;
}

.region .icao-map svg path {
    fill: var( --gray-1 );
    stroke: transparent;
    stroke-width: 10px;
}

.region .icao-map svg path[icao]:hover {
    fill: var( --indicator-yellow );
    cursor: pointer;
}