.runwayinfo .runway {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 40px;
    height: 220px;
    padding: 20px 30px;
    background: var( --gray-0 );
    border-radius: 12px;
}

.runwayinfo .runway:not(:last-of-type) {
    margin-bottom: 40px;
}

.runwayinfo .runway .hdg {
    flex: 0 0 180px;
    position: relative;
    align-self: stretch;
}

.runwayinfo .runway .hdg svg {
    position: absolute;
    top: calc( 50% - 15px );
    left: 0;
    right: 0;
}