.sigmets {
    column-count: 2;
    column-gap: 40px;
}

.sigmets .sigmet {
    break-inside: avoid;
    margin-bottom: 40px;
    background: var( --gray-0 );
}

.sigmets .sigmet .sigmet-header {
    padding: 15px 30px;
    color: var( --gray-0 );
    background: var( --gray-6 );
}

.sigmets .sigmet.hazard-CLD .sigmet-header,
.sigmets .sigmet.hazard-VA .sigmet-header {
    color: var( --gray-5 );
    background: var( --gray-2 );
}

.sigmets .sigmet.hazard-CONV .sigmet-header,
.sigmets .sigmet.hazard-FC .sigmet-header {
    background: var( --indicator-pink );
}

.sigmets .sigmet.hazard-DS .sigmet-header,
.sigmets .sigmet.hazard-SS .sigmet-header {
    color: var( --gray-5 );
    background: var( --indicator-yellow );
}

.sigmets .sigmet.hazard-GR .sigmet-header,
.sigmets .sigmet.hazard-TDO .sigmet-header,
.sigmets .sigmet.hazard-TS .sigmet-header,
.sigmets .sigmet.hazard-TSGR .sigmet-header {
    background: var( --indicator-red );
}

.sigmets .sigmet.hazard-ICE .sigmet-header,
.sigmets .sigmet.hazard-WTSPT .sigmet-header {
    background: var( --indicator-blue );
}

.sigmets .sigmet.hazard-MTW .sigmet-header {
    background: var( --indicator-green );
}

.sigmets .sigmet.hazard-TURB .sigmet-header {
    background: var( --indicator-orange );
}

.sigmets .sigmet .sigmet-header .sigmet-title {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.sigmets .sigmet .sigmet-header .sigmet-subtitle {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.sigmets .sigmet .sigmet-raw {
    padding: 20px 30px;
    font-size: 14px;
    border-bottom: 4px solid var( --gray-1 );
}

.sigmets .sigmet .sigmet-list {
    list-style-type: none;
    margin: 0;
    padding: 15px 30px;
}

.sigmets .sigmet .sigmet-list li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
}