.stats .site-image {
    background-image: url( './../resources/flight-board.jpg' );
}

.stats .primary-headline {
    margin-bottom: 0;
}

.stats .stats-section {
    padding: 80px var( --padding-normal );
}

.stats .stats-section:nth-child( 2n + 2 ) {
    color: var( --gray-0 );
    background: var( --primary );
}

.stats .stats-section h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
}

.stats .stats-section p {
    margin: 10px 0 60px 0;
    font-size: 22px;
}

.stats .stats-grid {
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    gap: 30px;
    color: var( --gray-5 );
}

.stats .stats-grid .stats-box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px 24px;
    background: var( --gray-0 );
    border-radius: 12px;
}

.stats .stats-grid .stats-box .icon {
    flex: 0 0 60px;
    font-size: 40px;
}

.stats .stats-grid .stats-box .info {
    flex: 1;
    min-width: 0;
}

.stats .stats-grid .stats-box .info .label {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}

.stats .stats-grid .stats-box .info .value {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    gap: 4px 12px;
    margin: 4px 0;
    font-size: 16px;
}

.stats .stats-grid .stats-box .info .value span:first-of-type {
    font-size: 24px;
    font-weight: 800;
}