.text-content p {
    width: 75%;
    line-height: 1.6;
    font-size: 20px;
}

.text-content p.first {
    width: 55%;
    font-size: 26px;
}

.text-content p.warn {
    font-weight: 800;
    color: var( --indicator-red );
}

.text-content p a {
    color: var( --primary );
}

.text-content p code {
    margin-right: 12px;
    padding: 4px 6px;
    font-family: 'SourceCodePro', monospace;
    font-size: 16px;
    font-weight: 800;
    background: var( --shade-1 );
    border-radius: 4px;
}

.text-content hr {
    margin-top: 80px;
    height: 10px;
    background: var( --shade-1 );
    border: 0;
}

.text-content dl {
    margin: 60px 0;
}

.text-content dl dt {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.text-content dl dt a {
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: var( --gray-0 );
    background: var( --primary );
    border-radius: 4px;
}

.text-content dl dt a:hover {
    text-decoration: none;
}

.text-content dl dt:not(:first-of-type) {
    margin-top: 30px;
}

.text-content dl dd {
    margin: 0;
}