.welcome h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    color: var( --primary );
}

.welcome h1 b,
.welcome p b {
    font-weight: 800;
}

.welcome p {
    line-height: 1.5;
    text-align: center;
    font-size: 26px;
    color: var( --gray-4 );
}

.welcome .searchform .searchtext {
    flex: 0 0 100%;
}

.welcome .searchform button {
    transition: all 100ms ease-out;
}

.welcome .searchform button:hover {
    background: var( --primary-dark );
    transform: scale( 1.15 );
}

.welcome-stats {
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    align-items: center;
    gap: 60px;
    padding: 60px var( --padding-normal );
    color: var( --gray-0 );
    background: var( --primary );
}

.welcome-stats .stats-col {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.welcome-stats .stats-col:hover {
    text-decoration: none;
}

.welcome-stats .stats-col .value {
    font-size: 42px;
    font-weight: 800;
}

.welcome-stats .stats-col .label {
    text-transform: uppercase;
}

.welcome-tabs a {
    font-weight: 600;
    color: var( --gray-0 );
    background: var( --primary );
    transition: all 100ms ease-out;
}

.welcome-tabs a:hover {
    background: var( --primary-dark );
    transform: scale( 1.05 );
}

.welcome-text p {
    margin: 40px 0;
    text-align: center;
    line-height: 1.6;
    font-size: 20px;
}

.welcome-donate a {
    position: relative;
    margin: 40px auto 80px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    color: var( --gray-0 );
    background: var( --indicator-red );
    width: max-content;
    height: 100px;
    padding: 0 40px 0 100px;
    border-radius: 50px;
    transition: all 250ms;
}

.welcome-donate a .icon {
    position: absolute;
    top: 0;
    left: 12px;
    width: 80px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 42px;
}

.welcome-donate a b {
    font-size: 22px;
}

.welcome-donate a:hover {
    text-decoration: none;
    transform: scale( 1.1 );
}

/* mobile support */

@media all and ( max-width: 1200px ) {

    .welcome-stats {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 40px var( --padding-normal );
    }

}

@media all and ( max-width: 600px ) {

    .welcome h1 {
        font-size: 36px;
    }
    
    .welcome p {
        font-size: 22px;
    }

    .welcome-stats {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .welcome .searchform {
        flex-flow: column nowrap;
    }

    .welcome .searchform .searchtext {
        flex: 0 0 auto;
    }

    .welcome-donate a {
        align-items: center;
        width: calc( 100% - 40px );
        height: auto;
        padding: 20px;
        border-radius: 30px;
    }

    .welcome-donate a .icon {
        position: relative;
        left: 0;
        width: auto;
        height: auto;
        line-height: 42px;
    }

}